.comment {
    background: #f0f2f5;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    margin-bottom: 10px;
}

.comment-username {
    font-size: .8125rem;
    font-weight: bold;
    margin: 0;
}

.comment-text {
    font-size: .9375rem;
    margin: 0;
}